@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 100px;
    font-family: 'Cafe24ClassicType-Regular';
    background-color: gray;
   
}

.container {
    text-align: center;
}

.clock {
    width: 900px; margin: 5px auto;
    border: 10px solid green;
    border-radius: 10px;
    background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);
}

#time {
    font-size: 100px;
   
}

button {
    margin-top: 20px;
    width: 245px;
    height: 50px;
    font-size:25px;
    margin: 50px;
}
 #stop {
    background-color: red;
    border-radius: 10px;
    color: white;
    font-family: 'Cafe24ClassicType-Regular';

}

#go {
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-family: 'Cafe24ClassicType-Regular';
}